 <div class="col-xs-6">
    <% for @d in @donations %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= "#{@d.user_id} donated #{@d.amount} dollars to #{@d.charity_id}" %></p>
          </div>
        </div>
    <% end %>
  </div>
