<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      Header
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Stats</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Trends</p>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <% for @d in @donations %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= "#{@d.user_id} donated #{@d.amount} dollars to #{@d.charity_id}" %></p>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Profile</p>
      </div>
    </div>
  </div>
</div>
